@font-face {
  font-family: "f1";
  src: url("https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf")
    format("truetype"); /* Safari, Android, iOS */
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

body {
  background: #121212;
  font-family: f1;
  color: white;
}

#siteWrapper {
  max-width: 2560px;
  position: relative;
  padding: 0 50px;
}

#heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}
.logo-title {
  display: flex;
  flex-direction: row;
}

#f1Logo {
  max-width: 350px;
}

h1 {
  font-size: 4.8rem;
  flex-shrink: 0;
  align-self: flex-end;
}

p {
  font-size: 1.4rem;
  margin-top: 10px;
}

.event {
  color: red;
}

.time {
  color: #68777e;
}

/*Timezone select*/
#tzSelect {
  background: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-left: 15px;
}

/*Next Race Section*/
#nextRace {
  display: flex;
}
#nextRace h2 {
  font-size: 3.6rem;
  margin-top: 50px;
  margin-left: 15px;
}

/*Race Track Section*/
#raceArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.race {
  box-sizing: border-box;
  padding: 20px;
  width: 33%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.race.next-race h3 {
  background: #121212;
  padding: 3px 25px;
  position: relative;
}

.race.next-race h3::after {
  background: white;
  content: "";
  display: block;
  height: calc(100% + 4px);
  left: -2px;
  position: absolute;
  top: -2px;
  width: calc(100% + 4px);
  z-index: -2;
}

.race.next-race h3::before {
  background: #121212;
  content: "Next Race:";
  display: block;
  font-size: 1.2rem;
  height: calc(100% + 15px);
  left: 20px;
  position: absolute;
  top: -12px;
  width: calc(100% - 40px);
  z-index: -1;
}

.race-image {
  align-self: center;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 5px;
  min-width: 110px;
  width: 130px;
}
.race-image object {
  display: block;
  max-width: 100%;
}

.race-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.race h3 {
  text-align: center;
  font-size: 3.6rem;
  display: block;
}

.race .event {
  width: 45px;
}

.race .day {
  width: 70px;
}

.race .time {
  width: 50px;
}

.time-line {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 10px;
}

.timezone-holder {
  margin-top: 25px;
  font-size: 1.8rem;
}
